#root {
  margin: 0 auto;
  /* margin-top: 130px; */
}

.Wrapper {
  margin-top: 120px;
}

@media (max-width: 1120px){
  .Wrapper{
    margin-top: 114px;
  }
  
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
