.background-image{
    position: relative; /* Ensure the pseudo-element is positioned relative to this element */
    background-image: url('../assets/Photos/background.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 42vh;
    color: aliceblue;
}

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.393); /* Green color with 50% opacity */
    z-index: 1; /* Ensure the overlay is above the background image */
}

.background-image > * {
    position: relative;
    z-index: 2; /* Ensure the content is above the overlay */
}

.section-two{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}

.section-two > div{
    width: 37%;
}

.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 5px;
}

.social-icons{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.social-icons .fa-brands{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 34vw;
    max-width: 280px;
    height: 50px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;

}

.fa-brands h3{
    color: black;
}

.fa-brands img{
    width: 35px;
    aspect-ratio: 1/1;
}

@media (max-width: 580px) {
  /* Your CSS rules here */

  .section-two{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-two > div{
    width: 74%;
  }

  .social-icons .fa-brands{
    width: 68vw;
  }
  /* Add more styles as needed */
}

