.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* height: 100vh; */
    margin: 25px 50px;
    gap: 50px;
}

.YearBookCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
    width: 80%;
}

.YearBookCard:nth-child(even) {
    flex-direction: row-reverse;
}

.YearBookCard img{
    width: 40%;
}

.YearBookCard .Number{
    font-size: 7vw;
    font-weight: 700;
    color: #01964d;
    aspect-ratio: 371 / 266; /* Maintain a 1:1 aspect ratio */

    width: fit-content;
    text-align: center;
    display: flex; /* Added */
    align-items: center; /* Added */
    justify-content: center; /* Added */
}

.YearBookCard .cardContant{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.YearBookCard h1{
    font-size: 3.5rem;
    font-weight: 700;
    color: #01964d;
    text-align: center;
}

.YearBookCard p{
    text-align: center;
    font-size: 1.2rem;
}
.YearBookCard p span{
    /* font-size: 1.5rem;
    font-weight: 700;
    color: #007e40; */
    font-size: larger;
    color: green;
}

.YearBookCard a{
    color: white;
    background-color: #007e40;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

.hst {
    width: 100%;
}

.hst h2{
    font-size: 2rem;
}

@media (max-width: 850px) {
    .home-container{
        margin: 10px 20px;
        gap: 20px;
    }
    
    .YearBookCard{
        flex-direction: column;
        gap: 10px;
    }

    .YearBookCard:nth-child(even){
        flex-direction: column;
    }

    .YearBookCard img{
        width: 90%;
    }

    .YearBookCard .Number{
        font-size: 14vw;
        aspect-ratio: 371 / 266; /* Maintain a 1:1 aspect ratio */
    
        width: fit-content;
        text-align: center;
        display: flex; /* Added */
        align-items: center; /* Added */
        justify-content: center; /* Added */
    }

    .YearBookCard h1{
        font-size: 2.4rem;

    }


    
}